# Python Basics: 
This assessment is intended to help you identify basic Python skills.

## Basic Arithmetic

In [1]:
#Question 6. Basic arithmetic: Use your notebook to demonstrate
#1. Addition 
2+3

5

In [2]:
#2. Subtraction 
3-2

1

In [3]:
#3. Multiplication 
3*2

6

In [4]:
#4. Division 
6/2

3.0

In [5]:
#What happens when you divide 3/2? #Should be 1 on Python 2
3/2

1.5

In [6]:
#Question 8. Write an equation that uses multiplication, division, an exponent, addition,and subtraction that is equal to 100.25.
11*10**2/10-10+.25

100.25

In [8]:
#Question 9. Use your notebook to calculate 
#1. 2^3
2**3

8

In [9]:
#2. 2^0.5
2**0.5

1.4142135623730951

In [10]:
#3. 2+10*10+3
2+10*10+3

105

In [11]:
#4. (2+10) * (10+3)
(2+10) * (10+3)

156

## Strings

In [74]:
#Question 10. in a series of code cells demonastrate that you can create the following string objects
#1. A single word

'Hello'

'Hello'

In [18]:
#2. A phrase

'How are you?'

'How are you?'

In [76]:
#3. A phrase using double quotes

"I'm well"

"I'm well"

In [17]:
#Place the following in a code box: 

print('Hello World 1')

print('Hello World 2')

print('Use \n to print a new line')

print('\n')

print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

In [19]:
#Question 11. Please use the function called len() to calculate the length of the string 'Hello World'

len('Hello World')

11

In [57]:
#Question 12. Assign s as a string:

s = 'Hello World'

#Now that s is an object, what is the output when you put s into a code cell?

s

'Hello World'

In [26]:
#Question 13.
s[0]

'H'

In [27]:
s[1]

'e'

In [38]:
s[2]

'l'

In [29]:
s[1:]

'ello World'

In [30]:
s[:3]

'Hel'

In [31]:
s[:]

'Hello World'

In [32]:
s[-1]

'd'

In [33]:
s[:-1]

'Hello Worl'

In [37]:
#Question 14. Enter the output when you input: >> s + ' concatenate me!'

s + ' concatenate me!'

'Hello World concatenate me!'

In [39]:
#Question 15.

s = 'Hello World concatenate me!'

#Match these examples of built-in methods in strings

s

'Hello World concatenate me!'

In [40]:
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [41]:
s.lower()

'hello world concatenate me!'

In [42]:
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [44]:
s.split('W')

['Hello ', 'orld concatenate me!']

In [55]:
#Question 16. The correct syntax to assign a list to an variable named my_list is

my_list = [1,2,3]
my_list

[1, 2, 3]

In [56]:
#Question 17. What is the correct syntax to determine the length of "my_list"?

len(my_list)

3

In [59]:
#Question 18. What is the correct syntax to grab the element at index 0? 

my_list = ['one','two','three',4,5]
my_list[0]

'one'

In [60]:
#Question 19. Grab index 1 and everything past it

my_list[1:]

['two', 'three', 4, 5]

In [61]:
#Question 20. What syntax would you use to concatenate 'my_list' to a list with the single element 'new item'?

my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

## Booleans

In [62]:
#Question 21.

2 > 3

False

In [63]:
#Question 22.

3 <= 2

False

In [64]:
#Question 23. 

3 == 2.0

False

In [65]:
#Question 24.

3.0 == 3

True

In [66]:
#Question 25.

4**0.5 != 2

False

In [67]:
#Question 26. How many times the print statements occurred and how the while loop kept going until the True condition was met?

x = 0
while x < 10:   

         print('x is currently: ',x )  

         print(' x is still less than 10, adding 1 to x' ) 

         x+=1

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x

In [68]:
#Question 27. When you run this code, what is the last line of this output? 

x = 0
while x < 10:   

          print('x is currently: ',x)   

          print(' x is still less than 10, adding 1 to x')    

          x+=1    

else:   

          print('All Done!')

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x
All Done!

In [69]:
#Question 29. Type code to check the answer.

4 * (6 + 5)

44

In [70]:
4 * 6 + 5

29

In [71]:
4 + 6 * 5

34